/* checkboxes */
/* credit https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
fieldset {
  border: none;
  position: relative;
  padding: 0;
}
fieldset legend {    
  font-size: 0;
  position: absolute;
  left: 50%;
  width: 20%;
  right: 0;
  /* !add media query for larger screens */
}
#repeat-legend {
  height: 4.6rem;
}
#timer-score-legend {
  height: 7.2rem
}
.checkbox-hack {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 18rem;
  margin: .5rem auto;
  line-height: 1.1rem;
}
.checkbox-hack label {
  cursor: pointer;
}
.checkbox-hack input {
  visibility: hidden;
  height: 1rem;
  width: 1rem;
}
.checkmark {
  height: 1rem;
  width: 1rem;
  background-color: #165764;
  border: solid .1rem #022b3a;
  border-radius: .2rem;
  position: absolute;
  left: -.2rem;
  cursor: pointer;
}
.checkbox-hack:hover input ~ .checkmark {
  background-color: #218397;
}
.checkbox-hack input:checked ~ .checkmark {
  background-color: #28a0b8;
}
.checkbox-hack input:checked ~ .checkmark:after {
  content:"";
  position: absolute;
  display: block;
  left: .28rem;
  height: .6rem;
  width: .3rem;
  border: solid #fffce8;
  border-width: 0 .2rem .2rem 0;
  border-radius: .1rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-hack input:disabled ~ .checkmark {
  background-color: #aaaaaa;
}
#global-settings > div {
  max-width: 12rem;
  margin-top: 1.5rem;
  font-size: 1.75rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: #3e363f;
}
#global-settings legend {
  margin-top: 1rem;
  height: 2.2rem;
}
/* end of checkboxes */
/* end of settings */